global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs: [{ role: pod }]
    relabel_configs:
      - action: replace
        source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - action: keep
        source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
        regex: "true"
  - job_name: 'node-exporter'
    file_sd_configs:
      - files: [ /etc/prometheus/file_sd/node-exporter.json ]
        refresh_interval: 1m
